
.weather-container{
    width: 100%;
    margin: auto;
    background-color: #282c34;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.location {
    font-weight: bolder;
    text-align: center;
}
.info{
    margin-left: 200px;
    text-align: left;
    line-height: 1.8;
}
.center{
    align-content: center;
}